/*
  Earth: #338984
  Fire: #DA5353
  Air: #FBAE00
  Water: #39589A

  Essence: #693F7B
*/

.grid-container {
  display: grid;
}

.resource-block {
  grid-template-columns: 30px 30px auto 60px;
  grid-template-rows: 30px 30px;
  margin: 10px;
}

.activate-resource {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-radius: 50%;
  z-index: 2;
  background-color: #FFFFFF;
}

.activate-resource[disabled] {
  background-color: rgba(125, 125, 125, 1);
}

  .activate-resource.essence {
    background-color: #693F7B;
    border: 3px solid #5E386E;
    color: white;
  }

  .activate-resource.fire {
    border: 3px solid #C44A4A;
    color: white;
  }

  .activate-resource.water {
    border: 3px solid #334F8A;
    color: white;
  }

  .activate-resource.earth {
    border: 3px solid #2D7B76;
    color: white;
  }

  .activate-resource.air {
    border: 3px solid #E19C00;
    color: white;
  }

.buy-resource {
  grid-column: 2 / span 2;
  grid-row: 2;
  text-align: center;
}

.grid-container > progress {
  grid-column: 2 / span 3;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

.grid-container > span {
  grid-column: 4;
  grid-row: 2;
  text-align: center;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  /* Get rid of default border in Firefox. */
  border: none;
}

  progress[value]::-webkit-progress-value {
    background-image:
      -webkit-linear-gradient(top, 
                              rgba(255, 255, 255, .25), 
                              rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, #5E386E, #693F7B);

      border-radius: 2px; 
      background-size: 75px 100%, 100% 100%, 100% 100%;
  }

  progress[value].fire::-webkit-progress-value {
    background-image:
      -webkit-linear-gradient(top, 
                              rgba(255, 255, 255, .25), 
                              rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, #C44A4A, #DA5353);
  }

  progress[value].water::-webkit-progress-value {
    background-image:
      -webkit-linear-gradient(top, 
                              rgba(255, 255, 255, .25), 
                              rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, #334F8A, #39589A);
  }

  progress[value].earth::-webkit-progress-value {
    background-image:
      -webkit-linear-gradient(top, 
                              rgba(255, 255, 255, .25), 
                              rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, #2D7B76, #338984);
  }

  progress[value].air::-webkit-progress-value {
    background-image:
      -webkit-linear-gradient(top, 
                              rgba(255, 255, 255, .25), 
                              rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, #E19C00, #FBAE00);
  }